<div class="box">
  <h1 class="title is-3">Tell Us About Your Land!</h1>

  <%= form_with(model: short_form, local: true) do |form| %>
    <% if short_form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(short_form.errors.count, "error") %> prohibited this short_form from being saved:</h2>

        <ul>
          <% short_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= form.label :name, class: "label is-medium"%>
          <div class="control has-icons-left">
            <%= form.text_field :name, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= form.label :phone, class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.telephone_field :phone, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-phone-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= form.label :parcel_street, class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.text_field :parcel_street, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-road"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= form.label :parcel_street2, "Parcel street 2", class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.text_field :parcel_street2, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-road"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
      
    <div class="columns">
      <div class="column">
        <div class="field">
          <%= form.label :parcel_city, class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.text_field :parcel_city, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-city"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= form.label :parcel_zip, class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.text_field :parcel_zip, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <%= form.label :parcel_state, class: "label is-medium" %>
          <div class="control has-icons-left">
            <div class="select is-fullwidth is-medium">
              <%= form.collection_select(:parcel_state, ShortForm.states, :last, :first) %>
            </div>
            <span class="icon is-left">
              <i class="fas fa-flag-usa"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <%= form.label :parcel_county, class: "label is-medium" %>
          <div class="control has-icons-left">
            <%= form.text_field :parcel_county, class: "input is-medium" %>
            <span class="icon is-left">
              <i class="fas fa-map-marked-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="actions">
      <%= form.button class: "button is-primary is-medium" do %>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Contact Me!</span>
      <% end %>
    </div>
  <% end %>
</div