<p id="notice"><%= notice %></p>

<h1>Short Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Parcel street</th>
      <th>Parcel street2</th>
      <th>Parcel city</th>
      <th>Parcel zip</th>
      <th>Parcel county</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_forms.each do |short_form| %>
      <tr>
        <td><%= short_form.name %></td>
        <td><%= short_form.phone %></td>
        <td><%= short_form.parcel_street %></td>
        <td><%= short_form.parcel_street2 %></td>
        <td><%= short_form.parcel_city %></td>
        <td><%= short_form.parcel_zip %></td>
        <td><%= short_form.parcel_county %></td>
        <td><%= link_to 'Show', short_form %></td>
        <td><%= link_to 'Edit', edit_short_form_path(short_form) %></td>
        <td><%= link_to 'Destroy', short_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Form', new_short_form_path %>
