<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @short_form.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @short_form.phone %>
</p>

<p>
  <strong>Parcel street:</strong>
  <%= @short_form.parcel_street %>
</p>

<p>
  <strong>Parcel street2:</strong>
  <%= @short_form.parcel_street2 %>
</p>

<p>
  <strong>Parcel city:</strong>
  <%= @short_form.parcel_city %>
</p>

<p>
  <strong>Parcel zip:</strong>
  <%= @short_form.parcel_zip %>
</p>

<p>
  <strong>Parcel State:</strong>
  <%= @short_form.parcel_state %>
</p>

<p>
  <strong>Parcel county:</strong>
  <%= @short_form.parcel_county %>
</p>

<%= link_to 'Edit', edit_short_form_path(@short_form) %> |
<%= link_to 'Back', short_forms_path %>
