<!DOCTYPE html>
<html>
  <head>
    <title>LandAdvisor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Ads: 847852206 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-847852206"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-847852206');
    </script>

    <%= yield :head %>
  </head>

  <body>
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button") %>    
    <% end %>
    <%= yield %>
  </body>
</html>
